<h1>{{ question }}</h1>

<form *ngIf="!voted" [formGroup] ="voteForm" (ngSubmit)="submitForm()">
    <div class="form-check" *ngFor="let option of options; let i=index">
        <input 
        type="radio" 
        class="form-check-input"
        formControlName="selected"
        [value]="i">
        <label class="form-check-label">
            {{option}}
        </label>
    </div>
    <button type="submit" class="btn btn-secondary mt-3" [disabled]="!voteForm.valid">Submit Vote</button>
</form>
<div *ngIf="voted" id="poll-results"></div>