<form [formGroup] ="pollForm" (ngSubmit)="submitForm()" class="container col-sm-4">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">
            Question:
        </label>
        <div>
            <input 
            formControlName="question"
            type="text" 
            class="form-control form-control-sm"
            placeholder="Poll Question">
        </div>
      
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">
            Image:
        </label>
        <div>
            <input 
            formControlName="image"
            type="text" 
            class="form-control form-control-sm"
            placeholder="Url to Image">
        </div>
      
    </div> 
    <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">
            Options:
        </label>
        <div>
            <input
            formControlName="opt1" 
            type="text" 
            class="form-control form-control-sm"
            placeholder="Option 1">
        </div>
      
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">
         
        </label>
        <div>
            <input 
            formControlName="opt2"
            type="text" 
            class="form-control form-control-sm"
            placeholder="Option 2">
        </div>
      
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label col-form-label-sm">
        </label>
        <div>
            <input 
            formControlName="opt3"
            type="text" 
            class="form-control form-control-sm"
            placeholder="Option 3">
        </div>
      
    </div>  
    <div class="d-flex justify-content-center">
        <button type="submit" 
            class="btn btn-sm btn-secondary">
            Submit Poll
        </button>
    </div> 
</form>
