<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-auto" href="#"> BlockChain</a>
  <button type="button" class="btn btn-secondary" (click)="showForm = !showForm">Create Poll</button>
</nav>
 <section class="jumbotron bg-light text-center">
    <h1>Web Voting App</h1>
    <p class="lead text-muted">
      developed by @Kipchumba
    </p>
 </section>
 <app-poll-create *ngIf="showForm"
 (pollCreated) ="handlePollCreated($event)"></app-poll-create>
<div class="d-flex">
  <div class="container poll-list">
    <app-poll
    *ngFor="let poll of polls | async"
    [question] ="poll.question"
    [voted] = "poll.voted"
    [votes] = "poll.results"
    [pollImage] = "poll.thumbnail"
    (click) = "setActivePoll(poll)"
    ></app-poll>
  </div>
  <div class="container poll-detail">
    <app-poll-vote
    *ngIf="activePoll"
    [id] = "activePoll.id"
    [voted] = "activePoll.voted"
    [question] ="activePoll.question"
    [options] ="activePoll.options"
    [results] ="activePoll.results"
    (pollVoted) = "handlePollVoted($event)"
    ></app-poll-vote>
  </div>
</div>
